<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMINA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        Welcome To The World EMINA
    </header>

    <nav>
        <a href="{{ url_for('Home') }}" id="home-link">Home</a>
        <a href="{{ url_for('Movie') }}">Movies</a>
        <a href="{{ url_for('Series') }}">TV Series</a>
        <a href="{{ url_for('Most') }}">Most Popular</a>
        <a href="{{ url_for('About') }}">About Us</a>

        {% if session.user_id %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>
 <section id="about-section">
            <h2>About Us</h2>
            <p>Welcome to Emina, your premier destination for all things anime. From action-packed adventures to heartwarming romances,
              our extensive collection has something for every fan. Stay up-to-date with the latest releases, and connect with fellow
              enthusiasts who share your passion. Where the boundaries of reality are pushed to the limit. Explore a vast library of anime,
              manga, and Asian media, and discover new worlds, characters, and stories that will captivate and inspire. Emina is an online anime
              website where anime lovers can watch freely. Emina is a free anime site that is applicable for anyone, especially for those who love
              to watch anime. It is designed to provide movies and series anime for the watchers.  Where Passion Meets Imagination. Dive into the
              vibrant world of anime, and experience the latest news, reviews, and discussions. The Emina  flow allows our watcher/audience to
              comment about our sites and the anime they watch, allowing them to download their favorite anime movies and series, giving them a
              quality they need, posting a new release anime and new episodes of anime they watched, content discovery, ads (advertising), and
              audience engagement. However, issues such as content visibility, slow performance, ads (advertising), and weak moderation affect user
              satisfaction. Key questions focus on improving discoverability, engagement, and recommendation effectiveness. Solutions include optimizing
              site speed, providing them to buy a premium quality to avoid advertising, and enhancing moderation. User reviews highlight accessibility
              but also fairness concerns. Through surveys and usability testing, findings suggest that addressing these issues will enhance user experience
              and content distribution.</p>
            <p>Contact us:
                <div>
                GMAIL: emina@gmail.com
                </div>
                Contact No.: 09919971732
            </p>

        </section>




    <footer>
        @2025 EMINA, Dive into the vibrant world of Anime.
    </footer>

    </body>
</html>