<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EMINA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ep.css') }}">
</head>
<body>
    <header>
        Welcome To The World EMINA
    </header>

    <nav>
        <a href="{{ url_for('Home') }}" id="home-link">Home</a>
        <a href="{{ url_for('Movie') }}">Movies</a>
        <a href="{{ url_for('Series') }}">TV Series</a>
        <a href="{{ url_for('Most') }}">Most Popular</a>
        <a href="{{ url_for('About') }}">About Us</a>

        {% if session.user_id %}
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Search anime movies and series..." />
            <button id="search-button">Search</button>
        </div>
        <div class="search-results" id="search-results"></div>
        <p class="no-results" id="no-results">No results found.</p>
    </nav>
        <h2>Demon Slayer</h2>
    <section>
        <h2>Episode 1: Cruelty</h2>
        <video width="640" height="360" controls>
  <source src="{{ url_for('static', filename='infi.mp4') }}" type="video/mp4">
  Your browser does not support the video tag.
</video>
    </section>
     <section>
        <h2>Episode</h2>
        <div class="episode-grid">
        <a href="{{ url_for('Demon') }}" class="episode">E1</a>
        <a href="{{ url_for('Demon2') }}" class="episode">E2</a>
    </div>
             <h2>New Episode will be uploaded every week</h2>
    </section>

    <footer>
        @2025 EMINA, Dive into the vibrant world of Anime.
    </footer>
</body>
</html>