<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMINA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header id="top">
        Welcome To The World EMINA
    </header>

    <section id="index-content">
        <h2>Hello, Ottaku!</h2>
        <p>To fully use of this website please Log in first or Create an ACCOUNT</p>
         <nav>
        {% if session.user_id %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
             <a href="{{ url_for('register') }}">Register</a>
    </nav>
    </section>

    <footer>
        @2025 EMINA, Dive into the vibrant world of Anime.
    </footer>
</body>
</html>