<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EMINA Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header id="top">
        Welcome To The World EMINA
    </header>

  <div class="register-container">
     <a href="{{ url_for('index') }}" class="close-btn">x</a>
    <h2>Create an Account</h2>
    <form action="/register" method="POST">
      <label for="name">Your Name</label>
      <input type="text" name="name" id="name" placeholder="Name" required>

      <label for="email">Email Address</label>
      <input type="email" name="email" id="email" placeholder="name@email.com" required>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" required>

      <label for="confirm_password">Confirm Password</label>
      <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>

      <button type="submit">Register</button>
    </form>
    <div class="footer-text">
      Have an account? <a href="{{ url_for('login') }}">Login</a>
    </div>
  </div>
<footer>
        @2025 EMINA, Dive into the vibrant world of Anime.
</footer>
</body>
</html>

